// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
// Define fonts for body and headers
$body-font: 'Mulish', sans-serif;
$headers-font: 'Mulish', sans-serif;

// FONT-SIZE
$h1: 48px;
$body: 16px;

// FONT-WEIGHT
$regular: 400;
$semi-bold: 600;
$bold: 700;