<div class="container">
  <h1>All Cocktails</h1>

  <%= link_to new_cocktail_path, class: "btn btn-success" do %>
    <i class="fas fa-plus"></i> Create
  <% end %>

  <% @cocktails.each do |cocktail| %>
    <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
    <% if cocktail.photo.attached? %>
      <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fit %>
    <% end %>
  <% end %>
</div>