// Specific CSS for your home-page
.main-container {
  display: flex;
}

.left-container {
  flex-grow: 1;
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 32px;
  position: sticky;
  top: 0;

  .content-container {
    display: flex;
    flex-grow: 1;
    align-items: center;

    .home-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 400px;
      margin-left: 32px;
    }
    p {
      margin-top: 32px;
      margin-bottom: 24px;
    }
  }
}

.right-container {
  background-color: $elevation-background;
  width: 400px;
  text-align: center;

  p {
    color: $primary-color;
    
  }
}