// Specific CSS for your home-page
.main-container {
  display: flex;
}

.left-container {
  flex-grow: 1;
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 32px;
  position: sticky;
  top: 0;

  .content-container {
    display: flex;
    flex-grow: 1;
    align-items: center;

    .home-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 34em;
      margin-left: 32px;

      h1 {
        margin: 0px;
      }
    }
    p {
      margin-top: 16px;
      margin-bottom: 40px;
      line-height: 2em;
    }
  }
}

.right-container {
  background-color: $elevation-background;
  width: 400px;
  text-align: center;

  p {
    color: $primary-color;
  }
}