.form-container {
  background-color: $elevation-background;
  padding: 24px;
  border-radius: 8px;
  margin-top: 64px;

  h1 {
    margin-bottom: 24px;
  }

  .btn-primary {
    margin: 16px 0px;
  }
}