.primary-button {
  // padding: 8px 16px;
  // background-color: $primary-color;
  // color: $main-background;
  // border-radius: 8px;
  color: $primary-color;
  text-decoration: none;
  font-family: $body-font;
  text-transform: uppercase;
  font-weight: $semi-bold;
  letter-spacing: 1px;

  &:hover {
    // color: $main-background;
    opacity: 0.8 !important;
    text-decoration: none !important;
  }
}