.home-card {
  display: flex;

  .home-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin-left: 56px;
  }

  p {
    margin-top: 32px;
    margin-bottom: 24px;
  }
}